<!doctype html>
<html lang="en" class="no-js m">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <meta name="renderer" content="webkit">
  <title>文章内容</title>
  <meta name="description" content="">
  <link rel="alternate icon" type="image/png" href="i/favicon.png">
  <link rel="icon" type="image/svg+xml" href="i/favicon.svg"/>
  <link rel="apple-touch-icon-precomposed" href="i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="stylesheet" href="static/phone/css/amui.all.min.css">
  <link rel="stylesheet" href="static/phone/css/amaze.min.css">
  <script src="static/phone/js/zepto.min.js"></script>
  <script src="static/phone/js/handlebars.min.js"></script>
  <script src="static/phone/js/amui.min.js"></script>

</head>
<body>
<?php $this->load->view('web/head');?>


  <!--面包屑-->
 <ol class="am-breadcrumb">
  <li><a href="#" class="am-icon-home">首页</a></li>
  <li><a href="#">分类</a></li>
  <li class="am-active">内容</li>
</ol>
  <!--面包屑-->
<hr/>


<!--文章内容-->
<blockquote><h1><?php echo $title;?></h1></blockquote>
<article data-am-widget="paragraph" class="am-paragraph am-paragraph-default" data-am-paragraph="{ tableScrollable: true, pureview: true }">
  <?php echo $content;?>
</article>
<!--文章内容-->

<!--文章功能-->
<blockquote><p><span class="am-icon-eye"></span>10  <span class="am-icon-thumbs-up"></span>4 <span class="am-icon-clock-o am-right"></span>2019-10-10</p></blockquote>
<!--文章功能-->

<!--底部菜单-->
<?php $this->load->view('web/foot');?>
<!--底部菜单-->
</body>
</html>